<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/login.css">
  <script defer src="/js/home/login.js"></script>
  <title>백엔드 맛보기</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="id" type="text" placeholder="아이디"/>
        <input id="name" type="text" placeholder="이름"/>
        <input id="pw" type="password" placeholder="비밀번호"/>
        <input id="confirm-pw" type="password" placeholder="비밀번호 확인"/>
        <button>가입하기</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </form>
    </div>
  </div>
  <br/>
  <button onclick="location.href='http://localhost:3000'" type="button">루트 페이지로 이동</button><br/>
</body>
</html>